
@*@{
	ViewBag.Title = "DPBReport";
	Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h3 style="text-align:center;">Portfolio Agile Report</h3>
<style type="text/css">
	#block_container, #chart1 {
		display: inline;
	}
</style>
<script src="~/Scripts/Multiselect/jquery-1.8.3.min.js"></script>
<link href="~/Scripts/Multiselect/bootstrap-3.0.3.min.css" rel="stylesheet" />
<link href="~/Scripts/Multiselect/bootstrap-multiselect.css" rel="stylesheet" />
@*<script src="~/Scripts/Multiselect/bootstrap-3.0.3.min.js"></script>*@
<script src="~/Scripts/Multiselect/bootstrap-multiselect.js"></script>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/chartjs-plugin-datalabels.js"></script>

<div style="width: 50%;float: right; margin-right:-39%">
	@{ var ddlCompanyId = 0;
		var citems = (List<SelectListItem>)@ViewBag.fillCompanyddl;
		var cids = citems.Select(x => x.Value).ToList();
	}
	@*@Html.DropDownListFor(model => ddlCompanyId, (List<SelectListItem>)@ViewBag.fillCompanyddl, "-- Select Company --", new { @class = "form-control", @style = "float: right; width: 30%;margin-bottom: 2px;MARGIN-TOP: -46PX;height: 31px;", @onchange = "showDPBGraph(this.value)", value = '0' })*@
	@Html.ListBoxFor(model => citems, (List<SelectListItem>)@ViewBag.fillCompanyddl, new { @class = "form-control listbox" })
	<input type="button" id="go" onclick="showDPBGraph()" value="Go" style="width:5%;background-color:lightgreen" />

</div>
<div id="block_container">

	<div style="width:100% !important;float:left">
		@*<div class="lead" style="margin-left:50px;text-align: center;">
				Digital Picture Benchmark (DPB)
			</div>*@
		<div>
			<canvas id="chart1"></canvas>
			<script>
                UserCompaniesList();
                getData();
                var CompanyId = [];
                var CompanyNames = [];
                var metadata = [];

                function UserCompaniesList() {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetUserCompanies",
                        //data: '{name: "' + $("#txtName").val() + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            debugger;
                            CompanyId = response;
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
                var data1 = [];
                var data2 = [];
                var data3 = [];
				var data4 = [];


				function getData() {

					debugger;
					var array = @Html.Raw(Json.Encode(@ViewBag.CompList));
					var compList = [];
					for (var i = 0; i < array.length; i++) {

						compList.push(array[i].Value);
					}

                    $.ajax({
                        type: "POST",
                        url: "/Home/GetDPBReportData",
                        //data: '{name: "' + $("#txtName").val() + '" }',
                        contentType: "application/json; charset=utf-8",
						data: JSON.stringify({
							compList: compList
						}),
                        success: function (response) {
                            debugger;
                            //initializeChartSeries(response);
                            DisplayChart(response);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }


				function DisplayChart(chartData) {
					debugger;
					var array = @Html.Raw(Json.Encode(@ViewBag.CompList));
					var compData = [];

					for (var i = 0; i < array.length; i++) {
						var data = {

							borderColor: chartData.companyColor[i],
							data: chartData.dataseries[i],
							fill: false,
							label: array[i].Text,
						}
						compData.push(data);
					}

                    for (var i = 0; i < chartData.metadataForChart.length; i++) {

                        metadata.push(chartData.metadataForChart[i]);
                    }

                    var chart = new Chart('chart1', {
                        type: 'radar',
                        data: {
                            labels: metadata,
                            datasets: compData
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'top',
                                labels: {
                                    fontColor: 'rgb(255, 99, 132)'
                                }
                            },
                            scale: {
                                display: true,

                            }
                        },

                        plugins: {
                            datalabels: {
                                font: {
                                    size: 15,
                                    weight: 600
                                },
                            }
                        },
                    });


                    var canvas = document.getElementById("chart1");
                    var ctx = canvas.getContext("2d");

                    //----------For Redirecting Chart to details page------------------
                    canvas.onclick = function (evt, legendItem) {
                        var activePoint = chart.getElementAtEvent(evt);
                        if (activePoint) {
                            debugger;
                            var companyId = parseInt(activePoint[0]._datasetIndex)+1;

                            window.location.href = "/Objectives/Create?id=" + companyId;

                        }
                    }

                }
				$(document).ready(function () {
					debugger;
					var canvas = document.getElementById("chart1");
					canvas.height = 100;
					$('.listbox').multiselect({
						includeSelectAllOption: true,
						//onDropdownShow: function (event) {
						//	alert('Dropdown shown.');
					});
				});


                function showDPBGraph() {
					debugger;
					
					debugger;
					var val = [];
					$(':checkbox:checked').each(function (i) {
						val[i] = $(this).val();
					});
					if (val.length > 0) {
					
						window.location.href = '/Home/DPBReport?CompList=' + val;
					}
					else {
						alert("Please select the company");
						return false;
					}

                }

			</script>
		</div>
	</div>
</div>
