
@{
    ViewBag.Title = "PAL_Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align:center;">Portfolio Agile Report</h3>

<style type="text/css">
    #block_container, #chart1 {
        display: inline;
    }
</style>
<div style="width: 50%;float: right;">
    @{ var ddlCompanyId = 0;}
    @Html.DropDownListFor(model => ddlCompanyId, (List<SelectListItem>)@ViewBag.fillCompanyddl, "-- Select Company --", new { @class = "form-control", @style = "float: right; width: 30%;margin-bottom: 2px;MARGIN-TOP: -46PX;height: 30PX", @onchange = "showPALGraph(this.value)", value = '0' })
</div>

<div id="block_container">
    <div style="width:100% !important;float:left">
        @*<div class="lead" style="text-align: center;">
          
        </div>*@
        <div style="font-size: x-small;margin-bottom:20px;text-align:right;">
            Legends:
            * : Leader
            + : Growth Potential
        </div>
        <div class="wrapper" id="bloc1">
            @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>*@
            <script src="~/Scripts/Chart.js"></script>
            <script src="~/Scripts/chartjs-plugin-datalabels.js"></script>
            @*<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>*@
            <script src="~/Scripts/jquery.min.js"></script>
            @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
            <canvas id="chart"></canvas>
            <script>
                var data1 = [];
                var data2 = [];
                var data3 = [];
                var data4 = [];

                var labels2 = [];
                var labels3 = [];
                var labels4 = [];
                var labels5 = [];
                var array = [];

				function getData(selectedComp) {
					debugger;
					var compList = [];
					if (selectedComp == "" || selectedComp == null) {
                        array= @Html.Raw(Json.Encode(@ViewBag.CompList));
						
						for (var i = 0; i < array.length; i++) {

							compList.push(array[i].Value);
						}
					}
					if (selectedComp != "" && selectedComp != null) {
						compList.push(selectedComp);
					}

					debugger;
					$.ajax({
						type: "POST",
						url: "/Home/GetData",
						//data: '{name: "' + $("#txtName").val() + '" }',
						data: JSON.stringify({
							compList: compList
						}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            debugger;
                           // initializeChartSeries(response);
                            DisplayChart(response)
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
                UserCompaniesList();
                getData();

                var CompanyId = [];
                var CompanyNames = [];
                var portfolios = [];

				var chartDataList;
                function UserCompaniesList() {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetUserCompanies",
                        //data: '{name: "' + $("#txtName").val() + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            debugger;
                            CompanyId = response;
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }

              

				function DisplayChart(chartData) {

					debugger;

						var array = @Html.Raw(Json.Encode(@ViewBag.CompList));
					var compData = [];
					
					//[{
					//	backgroundColor: '#3dcd58',
					//	borderColor: '#3dcd58',
					//	data: data1,
					//	lbl: labels2,
					//	label: 'Schneider',
					//},
					//	{
					//		backgroundColor: '#7b7c81',
					//		borderColor: '#7b7c81',
					//		data: data2,
					//		lbl: labels3,
					//		label: 'Daimler',
					//	},
					//	{
					//		backgroundColor: '#0795e6',
					//		borderColor: '#0795e6',
					//		data: data3,
					//		lbl: labels4,
					//		label: 'Disney',
					//	},
					//	{
					//		backgroundColor: '	#ffc111',
					//		borderColor: '	#ffc111',
					//		data: data4,
					//		lbl: labels5,
					//		label: 'McDonalds',
					//	}
					//]
					for (var i = 0; i < array.length; i++) {
						var data = {
							backgroundColor: chartData.companyColor[i],
							borderColor: chartData.companyColor[i],
							data: chartData.a[i],
							lbl: chartData.IsLeadOrTobe[i],
							label: array[i].Text,
						}
						compData.push(data);
                    }

                    for (var i = 0; i < chartData.portfolios.length; i++) {

                        portfolios.push(chartData.portfolios[i]);
                    }

                   // var yLable = ['NextGen AMS', 'NextGen SAP', 'DCX', 'Cloud', 'CyberSecurity', 'Digital Mfg', 'AI', 'Chatbots', 'Devops', 'Blockchain', 'End to End Offering'];

                    var chart = new Chart('chart', {
                        type: 'bar',
                        data: {
                            labels: portfolios,
							labels2: labels2,
							datasets: compData
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'top',
                                labels: {
                                    fontColor: 'rgb(255, 99, 132)'
                                }
                            },
                            tooltip: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        min: 0,
                                        max: 10
                                    }
                                }]
                            },
                            plugins: {
                                datalabels: {
                                    align: 'end',
                                    anchor: 'end',
                                    backgroundColor: null,
                                    borderColor: null,
                                    borderRadius: 4,
                                    borderWidth: 1,
                                    color: function (context) {
                                        var value = context.dataset.data[context.dataIndex];
                                        return context.dataset.backgroundColor;
                                        //return value < 20 ? '#ff2020'
                                        //	: value < 50 ? '#223388'
                                        //  : '#22cc22'
                                    },
                                    font: {
                                        size: 15,
                                        weight: 600
                                    },
                                    offset: 4,
                                    padding: 0,
                                    formatter: function (value, context) {
                                        var lblValue = context.dataset.lbl[context.dataIndex];
                                        var lblData = context.dataIndex;
                                        //return lblData;
                                        return lblValue;
                                    }
                                }
                            }
                        }
                    });

                    var canvas = document.getElementById("chart");
                    var ctx = canvas.getContext("2d");

                    //----------For Redirecting Chart to details page------------------
                    canvas.onclick = function (evt, legendItem) {
                        var activePoint = chart.getElementAtEvent(evt);

                        if (activePoint) {
                            //var chartData = activePoint[0]['_chart'].config.data;
                            //var idx = activePoint[0]['_index'];

                            //var label = chartData.labels[idx];
                            //var value = chartData.datasets[0].data[idx];
                            debugger;
                            var id = 0;
                            var companyName = activePoint[0]._model.datasetLabel;
                            for (var i = 0; i < array.length; i++) {
                                if (array[i].Text == companyName)
                                    id = array[i].Value;
                               
                            }
                         window.location.href = "/PortfolioAgileLab/PalDetails?id=" + id;
                           
                        }
                    };
				}

				$(document).ready(function () {
					debugger;
					var canvas = document.getElementById("chart");
					canvas.height =100;

				});

                function showPALGraph(ele) {
					debugger;
					test = JSON.stringify({ 'CompList': ele });
					//window.location.href = '/Home/PALReport?CompList="' + ele + '"';
					window.location.href = '/Home/PALReport?CompList=' + ele ;
					//getData(ele);
                    //if (ele !== "") {

                    //    if (ele == 1) {
                    //        var paldata1 = data1;
                    //        var paldata2 = [];
                    //        var paldata3 = [];
                    //        var paldata4 = [];

                    //        var pallabels2 = labels2;
                    //        var pallabels3 = [];
                    //        var pallabels4 = [];
                    //        var pallabels5 = [];

                    //        DisplayChart(paldata1, paldata2, paldata3, paldata4, pallabels2, pallabels3, pallabels4, pallabels5);
                    //    }

                    //    if (ele == 2) {
                    //        var paldata1 = [];
                    //        var paldata2 = data2;
                    //        var paldata3 = [];
                    //        var paldata4 = [];

                    //        var pallabels2 = [];
                    //        var pallabels3 = labels3;
                    //        var pallabels4 = [];
                    //        var pallabels5 = [];

                    //        DisplayChart(paldata1, paldata2, paldata3, paldata4, pallabels2, pallabels3, pallabels4, pallabels5);
                    //    }

                    //    if (ele == 3) {
                    //        var paldata1 = [];
                    //        var paldata2 = [];
                    //        var paldata3 = data3;
                    //        var paldata4 = [];

                    //        var pallabels2 = [];
                    //        var pallabels3 = [];
                    //        var pallabels4 = labels4;
                    //        var pallabels5 = [];

                    //        DisplayChart(paldata1, paldata2, paldata3, paldata4, pallabels2, pallabels3, pallabels4, pallabels5);
                    //    }
                    //    if (ele == 4) {
                    //        var paldata1 = [];
                    //        var paldata2 = [];
                    //        var paldata3 = [];
                    //        var paldata4 = data4;

                    //        var pallabels2 = [];
                    //        var pallabels3 = [];
                    //        var pallabels4 = [];
                    //        var pallabels5 = labels5;
                    //        DisplayChart(paldata1, paldata2, paldata3, paldata4, pallabels2, pallabels3, pallabels4, pallabels5);
                    //    }
                    //} else {

                    //    var paldata1 = data1;
                    //    var paldata2 = data2;
                    //    var paldata3 = data3;
                    //    var paldata4 = data4;

                    //    var pallabels2 = labels2;
                    //    var pallabels3 = labels3;
                    //    var pallabels4 = labels4;
                    //    var pallabels5 = labels5;

                    //    DisplayChart(paldata1, paldata2, paldata3, paldata4, pallabels2, pallabels3, pallabels4, pallabels5);
                    //}
                }

            </script>
        </div>
    </div>

</div>