@*@model IEnumerable<CrossSell_App.Models.SearchPortfolio>*@
@model IEnumerable<CrossSell_App.Models.SearchPortfolio>

@{
	ViewBag.Title = "PortfolioView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Search Result for : @ViewBag.SearchText</h4>
<div class="col-sm-6" style="align-content:center">

	<h3>@Html.ActionLink("Portfolio Report", "PALReport", "Home", new { CompList = Json.Encode(@ViewBag.CompanyIdList) }, null)</h3>

</div>
<table style="width:57%">
	<tbody>

		<tr>
			<th style="padding:2%"></th>
			@foreach (var header in ViewBag.companyObject)
			{
				<th style="background-color:#0070ad; color:white; text-align:center; padding:2% !important">
					<h4><a href=@Url.Action("PALReport", "Home", new { CompList = Json.Encode(header.Key) }, null) style="color:white">@header.Value</a></h4>

				</th>
			}
		</tr>
		@{

			foreach (var item in @ViewBag.portfolioList)
			{
				<tr style="border:solid 1px">
					<td align="center" style="border:solid 1px">

						<a href=@Url.Action("PALReport", "Home", new { CompList = Json.Encode(@ViewBag.CompanyIdList) }, null)>@item.Portfolio_Name</a>
					</td>
					@foreach (var header in ViewBag.CompanyList)
					{
						foreach (var curUsage in Model)
						{
							//var query = Model.Where(x => x.PortfolioName == @item.Portfolio_Name && x.CompanyName == @header).Select(x => x.CurrentUsage).ToList();
							if (curUsage.CompanyName == header && curUsage.PortfolioName == @item.Portfolio_Name)
							{
								<td align="center" style="border:solid 1px">@curUsage.CurrentUsage</td>
							}
						}
					}
				</tr>
			}
		}

	</tbody>
</table>

<script type="text/javascript">


	var array = @Html.Raw(Json.Encode(@ViewBag.CompanyIdList));
	//debugger
 //       for(var i = 0; i < array.length; i++) {
 //           alert(array[i]);
 //       }


</script>