@model CrossSell_App.Models.SearchByCompany
@{
	ViewBag.Title = "SearchByCompanyView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Search Result for : @ViewBag.SearchText</h4>
<br /><br />

<div>
	<div class="col-sm-6" style="align-content:center">

		<h2>@Html.ActionLink("Portfolio Report", "PALReport", "Home", new { CompList = Json.Encode(@ViewBag.CompanyIdList) }, null)</h2>

	</div>
	<div class="col-sm-6" style="align-content:center">
		
		<h2>@Html.ActionLink("Digital Picture BenchMark Report", "DPBReport", "Home", new { CompList = Json.Encode(@ViewBag.CompanyIdList) }, null)</h2>
	</div><br />
	<br />
</div>
<br />
<div>
	<br />
	@*portfolio view*@
	<div class="col-sm-6">
		<table style="width:70%">
			<tbody>

				<tr>
					<th style="padding:2%"></th>
					@foreach (var header in ViewBag.CompanyList)
					{
						<th style="background-color:#0070ad; color:white; text-align:center; padding:2% !important">
							@header
						</th>
					}
				</tr>
				@{

					foreach (var item in @ViewBag.portfolioList)
					{
						<tr style="border:solid 1px">
							<td align="center" style="border:solid 1px">

								@item.Portfolio_Name
							</td>
							@foreach (var header in ViewBag.CompanyList)
							{

								foreach (var curUsage in Model.protfolio)
								{
									//var query = Model.Where(x => x.PortfolioName == @item.Portfolio_Name && x.CompanyName == @header).Select(x => x.CurrentUsage).ToList();
									if (curUsage.CompanyName == header && curUsage.PortfolioName == @item.Portfolio_Name)
									{
										<td align="center" style="border:solid 1px">@curUsage.CurrentUsage</td>
									}
								}
							}
						</tr>
					}
				}

			</tbody>
		</table>
	</div>
	@*digital picture benchmark*@
	<div class="col-sm-6">
		<table style="width:57%">
			<tbody>

				<tr>
					<th style="padding:2%"></th>
					@foreach (var header in ViewBag.CompanyList)
					{
						<th style="background-color:#0070ad; color:white; text-align:center; padding:2% !important">
							@header
						</th>
					}
				</tr>
				@{

					foreach (var item in @ViewBag.SectionName)
					{
						<tr style="border:solid 1px">
							<td align="center" style="border:solid 1px">

								@item
							</td>
							@foreach (var header in ViewBag.CompanyList)
							{
								foreach (var scoreMax in Model.section)
								{
									//var query = Model.Where(x => x.PortfolioName == @item.Portfolio_Name && x.CompanyName == @header).Select(x => x.CurrentUsage).ToList();
									if (scoreMax.CompanyName == header && scoreMax.SectionName == @item)
									{
										<td align="center" style="border:solid 1px">@scoreMax.Score_MAx</td>
									}
								}
							}
						</tr>
					}

				}

				<tr><td colspan="1"><br /></td></tr>
				<tr><td colspan="1"><br /></td></tr>
				<tr><td colspan="1"><br /></td></tr>
				<tr><td colspan="1"><br /></td></tr>
				<tr><td colspan="1"><br /></td></tr>
			</tbody>
		</table>
	</div>
</div>


<input type="hidden" id="CompanyIdList" value="@ViewBag.CompanyIdList" />
<script type="text/javascript">

	function redirect() {
		debugger;
		var array = @Html.Raw(Json.Encode(@ViewBag.CompanyIdList));
		var listOfComp = [];
		debugger
		for (var i = 0; i < array.length; i++) {
			listOfComp.push(array[i]);
		}
		things = JSON.stringify({ 'CompList': listOfComp });

		window.location.href = '/Home/PALReport' + things;

		//$.ajax({
		//	contentType: 'application/json; charset=utf-8',
		//	dataType: 'json',
		//	type: 'POST',
		//	url: '/Home/PALReport',
		//	data: things,
		//	success: function () {
		//		alert("su");
		//	},
		//	failure: function (response) {

		//	}
		//});
	}

</script>