@model IEnumerable<CrossSell_App.DataAccess.Portfolio_Agile_Lab>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<h2>Index</h2>*@
<div>
    <div style="width: 50%;float: left;">
        <p style="MARGIN-TOP: 20PX;"> @Html.ActionLink("Create New", "Create")</p>
    </div>
    <div style="width: 50%;float: right;">
        @{ var ddlCompanyId = 0;}
        @Html.DropDownListFor(model => ddlCompanyId, (List<SelectListItem>)@ViewBag.fillCompanyddl, "-- Select Company --", new { @class = "form-control", @style = "float: right; width: 50%;margin-bottom: 10px;MARGIN-TOP: 20PX;", value = '0' })
    </div>
    <div>
        <table class="table" style="margin-top:10px">
            <tr>
                <th>
                    @Html.Label(" Company")
                </th>
                <th>
                    @Html.Label("Portfolio")
                </th>
                <th>
                    @Html.Label("Current Usage")

                </th>
                <th>
                    @Html.Label("Market lead")
                </th>
                @*<th>
                        @Html.Label("Current Usage")
                    </th>*@
                <th>
                    @Html.Label("Future Scope")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="@item.Company_Id" class="@item.Company_Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Company_Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portfolio.Portfolio_Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Current_Usage)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Future_Scope)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsMarketLead)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Company_Id })

                        @*@Html.ActionLink("Delete", "Delete", new { id=item.Company_Id })*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    function showPortfolio(ele) {
        if (ele !== "") {
            $("." + ele).show();
            if (ele != 1)
                $(".1").hide();
            if (ele != 2)
                $(".2").hide();
            if (ele != 3)
                $(".3").hide();
            if (ele != 4)
                $(".4").hide();
        } else {
            $(".1,.2,.3,.4").show();
        }
    }
    @*$(document).ready(function () {
       if (@ViewBag.Message!= null) {
        debugger;
        var msg=@ViewBag.Message;
        alert(msg);
    }
    });*@
    $('#ddlCompanyId').on('change', function (event) {
        window.location.href = "/PortfolioAgileLab/Index?id=" + $(event.target)[0].value;
        $("#ddlCompanyId").val($(event.target)[0].value);
    });
</script>