@model IEnumerable<CrossSell_App.Models.ObjectivesModel>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/CustomScripts.js"></script>*@
<style>

    
</style>
<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="width: 50%;float: right;">
        @{ var ddlCompanyId = 0;}
        @Html.DropDownListFor(model => ddlCompanyId, (List<SelectListItem>)@ViewBag.fillCompanyddl, new { @class = "form-control", @style = "float: right; width: 50%;margin-bottom: 10px;MARGIN-TOP: 20PX;" })

    </div>
    var counter = 0;

    foreach (var item in ViewBag.SectionList)
    {
        counter++;
        var secData = Model.Where(x => x.Metadata_Id == item.Metadata_Id).ToList();
        <table class="table" border="1" id="table_@counter">
            <tr name="@item.Metadata_Id">
                <th colspan="8" name="@item.Metadata_Id" style="background-color:#0070ad; color:white; text-align:center;">
                    @item.Metadata_Name
                </th>
            </tr>
            <tr>

                <th style="width:36%;">Questions</th>
                <th>Comments</th>
                <th>Level</th>
                <th style="width:5%;">Weight</th>
                <th style="width:8%;">Answer(1-3)</th>
                <th>Score</th>
                <th>Max</th>
                <th style="width: 8%;">Score of Max</th>
            </tr>


            @foreach (CrossSell_App.Models.ObjectivesModel ques in secData)
            {
                var count = @ques.Questioner_Id;
                <tr class="objective_data" id="@ques.Questioner_Id">
                    <td id="QuestionText" style="width:27%">

                        @Html.DisplayFor(modelitem => ques.QuestionText, "")


                    </td>
                    <td>
                        @Html.EditorFor(modelitem => ques.Comments, new { htmlattributes = new { id = string.Format("ques_Comments{0}", count), @style = "width:100%" } })
                    </td>
                    <td>
                        @Html.EditorFor(modelitem => ques.Level, new { htmlattributes = new { id = "ques_Level" + count, @class = "level", @style = "width:100%" } })
                    </td>
                    <td>
                        @*@Html.EditorFor(modelitem => ques.Weight, new { id = "ques_Weight" + count, @class = "weight" style = "" })*@
                        @Html.EditorFor(modelitem => ques.Weight, new { htmlAttributes = new { id = "ques_Weight" + count, @class = "weight" ,@style="width:100%" } })
                    </td>
                    <td class="ques_answer">
                        @*@Html.TextBoxFor(modelitem => ques.Answer, new { id = "ques_Answer" + count, @class = "answer", @style = "width:100%" })*@
                        @Html.EditorFor(modelitem => ques.Answer, new { htmlAttributes = new { id = "ques_Answer" + count, @class = "answer", @style = "width:100%" } })
                    </td>
                    <td>
                        <div id="ques_Score_@count" class="ques_score">
                            @Html.DisplayFor(modelitem => ques.Score, new { id = "ques_Score" + count, @class = "score", @style = "width:100%" })
                        </div>
                    </td>
                    <td>
                        <div id="ques_max_@count" class="ques_max">
                            @Html.DisplayFor(modelitem => ques.Max, new { id = "ques_Max" + count, @class = "max" })
                        </div>
                    </td>
                    <td>
                        <div id="score_max_@count" class="score_max">
                            @Html.DisplayFor(modelitem => ques.Score_Max, new { id = "ques_Score_Max" + count, @class = "maxscore" })
                        </div>
                    </td>
                </tr>


            }
            <tr>
                <td colspan="5" id="total">
                    Total @item.Metadata_Name
                </td>
                <td id="total_score_table_@counter">
                    @*24*@
                    </td>
                <td id="total_Max_table_@counter"></td>
                <td id="total_ScoreMax_table_@counter"></td>
            </tr>
        </table>

    }
}
        <div>
            @*<input type="button" value="Save" id="save_objective" class="btn btn-primary cgiButton" />*@
            <input type="button" value="Save" id="save_objective" class="btn btn-primary cgiButton" />
            @Html.ActionLink("Back to List", "Index")
        </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">


    $(document).ready(function () {


        //give class to inputs
       
      
       
       
    

        $(".answer").on("change", function (event) {

            debugger;

            if (event.currentTarget.parentElement.children.length > 0) {
                var row_id = event.currentTarget.parentElement.parentElement.getAttribute('id');

                // Update score column
                var score = 0;
                if ($("#ques_Answer ").val() != "") {

                    score = $('#' + row_id + ' td input')[2].value * this.value

                    $("#ques_Score_" + row_id)[0].innerHTML = score;
                    // Update Max column
                    var max = $('#' + row_id + ' td input')[2].value * 3

                    $("#ques_max_" + row_id)[0].innerHTML = max;
                    var scoreOfmax = 0;

                    if (max != 0) {
                        scoreOfmax = score / max;
                        scoreOfmax = scoreOfmax.toFixed(2);

                    }
                    else
                        scoreOfmax = 0;


                    $("#score_max_" + row_id)[0].innerHTML = scoreOfmax;


                }

                var tableid = event.currentTarget.parentElement.parentElement.parentElement.parentElement.getAttribute('Id');

                var totalscore = 0
                var total_Max = 0;
                var total_ScoreMax = 0;
                $("#" + tableid + " tbody").find('tr').each(function (i, el) {
                    debugger;
                    var $tds = $(this).find('td');
                    if ($tds.prevObject[0].firstElementChild.tagName != 'TH') {
                        if ($tds.eq(5).children('div').length > 0 && ($tds.eq(5).children('div')[0].innerHTML != undefined || $tds.eq(5).children('div')[0].innerHTML != "") && ($tds.eq(5).children('div')[0].innerHTML.trim()) != "") {
                            totalscore = parseFloat(totalscore) + parseFloat($tds.eq(5).children('div')[0].innerHTML);


                        }
                        if ($tds.eq(6).children('div').length > 0 && ($tds.eq(6).children('div')[0].innerHTML != undefined || $tds.eq(6).children('div')[0].innerHTML != "") && ($tds.eq(6).children('div')[0].innerHTML.trim()) != "") {
                            total_Max = parseFloat(total_Max) + parseFloat($tds.eq(6).children('div')[0].innerHTML);
                        }
                        if ($tds.eq(7).children('div').length > 0 && ($tds.eq(7).children('div')[0].innerHTML != undefined || $tds.eq(7).children('div')[0].innerHTML != "") && ($tds.eq(6).children('div')[0].innerHTML.trim()) != "") {
                            total_ScoreMax = parseFloat(total_ScoreMax) + parseFloat($tds.eq(7).children('div')[0].innerHTML);
                        }
                    }
                })

                $("#total_score_" + tableid)[0].innerHTML = totalscore;
                $("#total_Max_" + tableid)[0].innerHTML = total_Max;
                $("#total_ScoreMax_" + tableid)[0].innerHTML = total_ScoreMax;




            }


        });


        var jsonObj = new Array();
        $("#save_objective").click(function () {
            //  alert("I am in custom script");
            //$(".table tbody").find('tr > td').each(function (i, el) {

            $(".table tbody").find('tr').each(function (i, el) {
                // debugger;
                var $tds = $(this).find('td');
                if ($tds.prevObject[0].firstElementChild.tagName != 'TH') {


                    var obj = new Object();
                    debugger;
                    // var $metadata = $(this).closest('table').children('tr:first');
                    if ($tds.eq(4).children('input')[0] != undefined && $tds.eq(4).children('input')[0].value != "" && $tds.eq(4).children('input')[0].value != undefined && $tds.eq(4).children('input')[0].value.trim() != "") {
                        obj.Metadata_Id = $tds.prevObject[0].parentElement.children[0].firstElementChild.getAttribute('name');
                        obj.Questioner_Id = $tds.prevObject[0].getAttribute("id");// $tds.eq(0).text();
                        obj.Comments = $tds.eq(1).children('input')[0].value;
                        obj.Level = $tds.eq(2).children('input')[0].value;
                        obj.Weight = $tds.eq(3).children('input')[0].value;
                        obj.Answer = $tds.eq(4).children('input')[0].value;
                        obj.Score = $tds.eq(5).children('div')[0].innerHTML;
                        obj.Max = $tds.eq(6).children('div')[0].innerHTML;
						obj.Score_Max = $tds.eq(7).children('div')[0].innerHTML;
						obj.Company_Id = $("#ddlCompanyId").val();
                        jsonObj.push(obj);
                    }
                }
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateData", "Objectives")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(jsonObj),
                dataType: 'json',
                success: function (result) {
                    debugger;
                    alert(result);
                    jsonObj = new Array();

                },
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },

                async: true,
                processData: false
            });



        })
    });

    $('#ddlCompanyId').on('change', function (event) {
        window.location.href = "/Objectives/Create?id=" + $(event.target)[0].value;
        $("#ddlCompanyId").val($(event.target)[0].value);
    });
</script>