@*@model IEnumerable<DataAccessLayer.Company>*@

@model IEnumerable<DTO.CompanyTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Company Name")
        </th>
        <th>
            @Html.Label("Is Active")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Company_Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Company_Id })
            </td>
        </tr>
    }

</table>
